@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 1rem;
  background-color: #222831;
  font-family: "Nunito";
  color: #EEEEEE;
}

.inverted {
  @apply bg-secondary text-bgd; 
}

.btn {
  @apply border-primary border-2 rounded p-2 uppercase cursor-pointer tracking-wider bg-bgl hover:bg-primary;
}

.btn_neutral {
  @apply text-secondary p-2 rounded uppercase;
}

.text_input {
  @apply rounded border-2 shadow-sm p-2;
}

.shimmer {
  position: relative;
  overflow: hidden;
  background-color: #D65A31cc;
}
.shimmer::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0,
    rgba(233, 233, 233, 0.9) 50%,
    rgba(233, 233, 233, 0.8) 100%
  );
  animation: shimmer 1s ease-out infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}
